.container {
    padding: 10px 50px;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-info {
    font-weight: 400;
    font-size: 25px;
    line-height: 49px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #000000;
}

.basic-info {
    margin-top: -30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #000000;
}

.main-box {
    margin-top: 10px;
    min-height: 500px;
    width: 800px;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
}

.profile-edit {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #000000;

}

.visible-info {
    margin-top: -20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.035em;

    color: #828282;
}

.edit-button {
    height: 27px;
    width: 70px;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    margin-top: 17px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #828282;
    background-color: white;

    border: 1px solid #828282;
    border-radius: 8px;
}

.info-details {
    /* margin-top: 15px; */
    padding-left: 40px;
    border-top: 1px solid #D3D3D3;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.details-tag {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #BDBDBD;

}

.details img {
    /* width: 60px; */
    height: 60px;
    border-radius: 5px;
}

.details p {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #333333;
}

.details.photo {
    padding-left: 180px;
}
.details.name {
    padding-left: 185px;
}
.details.bio {
    padding-left: 199px;
}
.details.phone {
    padding-left: 178px;
}
.details.email {
    padding-left: 184px;
}
.details.password {
    padding-left: 155px;
}