<div class="container">
    <div>
        <div class="main-box">
            <img src="./../../../assets/devchallenges.svg">
            <p class="join-thousands">Join thousands of learners from around the world</p>
            <p class="master-web">
                Master web development by making real-life projects. There are multiple
                paths for you to choose
            </p>
            <div>
                <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                    <div class="input-box">
                        <mat-icon class="mat-email">email</mat-icon>
                        <input type="email" placeholder="Email" formControlName="email">
                    </div>
                    <div class="input-box password">
                        <mat-icon class="mat-password">lock</mat-icon>
                        <input type="password" placeholder="Password" formControlName="password">
                    </div>
                    <button class="start-coding" type="submit">Start coding now</button>
                </form>
            </div>
            <div class="social-profile">
                <p class="or-continue">or continue with these social profile</p>
                <div class="social-images">
                    <img (click)='googleLogin()' src="../../../assets/Google.svg">
                    <img (click)='facebookLogin()' src="../../../assets/Facebook.svg">
                    <img (click)='twitterLogin()' src="../../../assets/Twitter.svg">
                    <img (click)='githubLogin()' src="../../../assets/Gihub.svg">
                </div>
            </div>
            <p class="already-member">Already a member? <span routerLink="/login">Login</span></p>
        </div>
        <app-created-by></app-created-by>
    </div>
</div>