<div class="container">
    <div>
        <div class="main-box">
            <img src="./../../../assets/devchallenges.svg">
            <p class="join-thousands">Join thousands of learners from around the world</p>
            <p class="master-web">
                Master web development by making real-life projects. There are multiple
                paths for you to choose
            </p>
            <div>
                <div class="input-box">
                    <mat-icon class="mat-email">email</mat-icon>
                    <input #emailInput type="email" placeholder="Email">
                </div>
                <div class="input-box password">
                    <mat-icon class="mat-password">lock</mat-icon>
                    <input #pwInput type="password" placeholder="Password">
                </div>
                <button class="start-coding" (click)="onSignUpButtonClicked(emailInput.value, pwInput.value)">Start coding now</button>
            </div>
            <div class="social-profile">
                <p class="or-continue">or continue with these social profile</p>
                <div class="social-images">
                    <a href="http://localhost:3000/users/auth/google"><img src="../../../assets/Google.svg"></a>
                    <img src="../../../assets/Facebook.svg">
                    <img src="../../../assets/Twitter.svg">
                    <img src="../../../assets/Gihub.svg">
                </div>
            </div>
            <p class="already-member">Already a member? <span routerLink="/login">Login</span></p>
        </div>
        <app-created-by></app-created-by>
    </div>
</div>