p {
    font-weight: 400;
    bottom: 0;
    left: 0;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #828282;

}

span {
    text-decoration: underline;
}