<div class="container">
    <div>
        <div class="main-box">
            <img src="../../../assets/devchallenges.svg">
            <p class="login">Login</p>
            <div class="form">
                <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                    <div class="input-box">
                        <mat-icon class="mat-email">email</mat-icon>
                        <input type="email" placeholder="Email" formControlName="email">
                    </div>
                    <div class="input-box password">
                        <mat-icon class="mat-password">lock</mat-icon>
                        <input placeholder="Password" type='password' formControlName="password">
                    </div>
                    <button class="login" type="submit">Login</button>
                </form>
            </div>
            <div class="social-profile">
                <p class="or-continue">or continue with these social profile</p>
                <div class="social-images">
                    <img (click)='googleLogin()' src="../../../assets/Google.svg">
                    <img (click)='facebookLogin()' src="../../../assets/Facebook.svg">
                    <img (click)='twitterLogin()' src="../../../assets/Twitter.svg">
                    <img (click)='githubLogin()' src="../../../assets/Gihub.svg">
                </div>
            </div>
            <p class="no-account">Don't have an account yet? <span routerLink="/register">Register</span></p>
        </div>
        <app-created-by></app-created-by>
    </div>
</div>